<body>
  <h1>no data</h1>
  <form method="POST" action="http://localhost:8099/"
	enctype="multipart/form-data">
    <textarea cols=20 rows=4 name="m"></textarea>
    <input type="submit">
  </form>
  <h2>with data</h1>
  <form method="POST" action="http://localhost:8099/"
	enctype="multipart/form-data">
    <textarea cols=20 rows=4 name="m"></textarea>
    <p>
    <input type="file" name="d">
    <input type="submit">
  </form>
</body>
